vim/bundle
vim/backup/
gh-token
vim_src
vim/eclim
vim/plugin
vim/sessions
vim/view
powerline
zprezto
vim/autoload
vim/plugged
.DS_Store
*.swp
karabiner-config/automatic_backups
__backup/
__backup-*/
.config/karabiner/automatic_backups
.config/iterm2/AppSupport
.config/iterm2/sockets
.config/configstore
.config/firebase
.config/gh
.config/github-copilot
.config/htop
